* {
    margin: 0;
    padding: 0;
}

html,
body,
.Container {
    height: 100%;
}

.Container:before {
    content: '';
    height: 100%;
    float: left;
}

.Content {
    position: relative;
    z-index: 1;
}

.Content:after {
    content: '';
    clear: both;
    display: block;
}

.Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Wrapper>div {
    height: 100%;
}

.LeftContent {
    background-color: orange;
    float: right;
    width: 50%;
    position: fixed;
}

.RightContent {
    background-color: purple;
    overflow: auto;
    width: 50%;
    float: right;
}

.img{
    width: 40%;
    padding: 2.5%
}